# it will be set build date by gradle. if this value is @build.date@, front-end is development mode

build:
  date: '@build.date@'

# Charset of HTTP requests and responses. Added to the "Content-Type" header if not set explicitly.
# Enable http encoding support.
# Force the encoding to the configured charset on HTTP requests and responses.
server:
  address: 0.0.0.0
  port: '8080'
  servlet:
    contextPath: /
    encoding:
      force: 'true'
      charset: UTF-8
      enabled: 'true'
  #gzip compression
  compression:
    enabled: 'true'
    mime-types: application/json,application/xml,text/html,text/xml,text/plain,application/javascript,text/css



spa:
  default-file: /dist/index.html


# Swagger
springfox:
  documentation:
    swagger:
      use-model-v3: 'false'


spring:
  # for SPA
  resources:
    static-locations: classpath:/dist/
    add-mappings: 'false'
  mvc:
    throw-exception-if-no-handler-found: 'true'
  #database
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    hikari:
      username: ssafy6
      password: SIXMAN1q2w3e4r!
    url: jdbc:mysql://3.15.140.40:3306/integ_project?serverTimezone=Asia/Seoul
  jpa:
    database-platform: org.hibernate.dialect.MySQL5InnoDBDialect
    open-in-view: false
    show-sql: true   # sql 쿼리문 볼수있음.
    properties:
      hibernate:
        format_sql: true # sql 쿼리문을 정제해서 볼수있음.
    hibernate:
      ddl-auto: update
      format_sql: true
  data:
    web:
      pageable:
        one-indexed-parameters: 'true'
  devtools:
    livereload:
      enabled: 'true'

# jwt
# unit is ms. 15 * 24 * 60 * 60 * 1000 = 15days
jwt:
  secret: dyAeHubOOc8KaOfYB6XEQoEj1QzRlVgtjNL8PYs1A1tymZvvqkcEU7L1imkKHeDa
  expiration: '1296000000'
#logging
logging:
  level:
    org:
      sringframework:
        boot: DEBUG
        security: DEBUG
      springframework:
        web: DEBUG
      apache:
        tiles: INFO
    com:
      samsung:
        security: DEBUG
    root: INFO
  file:
    name: ./ssafy-web.log

#for health check
management:
  health:
    diskspace:
      enabled: 'true'
    default:
      enabled: 'true'
    db:
      enabled: 'true'
  servlet:
    context-path: /manage
